@import "../../../styles/variables.scss";

.table__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  font-family: $fontFamilyOne;
  font-size: 2.5rem;
  @media (max-width: 1250px) {
    font-size: 2rem;
  }
  @media (max-width: 1000px) {
    font-size: 1.5rem;
  }
  @media (max-width: 700px) {
    font-size: 1rem;
    padding-top: 80px;
  }
  @media (max-width: 500px) {
    font-size: 0.6rem;
  }
}

table {
  display: grid;
  grid-template-columns: 1fr 1fr auto auto 1fr;
  grid-template-rows: 1fr auto;
  max-width: 100%;
  margin: 20px;
  border-collapse: collapse;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 15px;
  @media (max-width: 700px) {
    padding: 5px 5px;
  }
}

th {
  background-color: $trueColor;
  color: #fff;
}

/* tbody  */
tr:nth-child(even) td {
  background-color: rgba(248, 249, 250, 0.75);
}

/* tbody  */
tr:nth-child(odd) td {
  background-color: rgba(255, 220, 152, 0.75);
}

.table__header {
  background-color: $falseColor;
  color: #000;
  margin: 1rem;
}

.table__header span {
  background-color: $trueColor;
}

.audioPlayer {
  height: 50px;
  @media (max-width: 1000px) {
    height: 40px;
  }
  @media (max-width: 700px) {
    height: 30px;
  }
  @media (max-width: 500px) {
    height: 15px;
  }
}

.logo_yes,
.logo_no {
  width: 50px;
  height: 50px;
  fill: transparent;
  stroke-width: 0px;
  @media (max-width: 1000px) {
    width: 40px;
    height: 40px;
  }
  @media (max-width: 700px) {
    width: 30px;
    height: 30px;
  }
  @media (max-width: 500px) {
    width: 15px;
    height: 15px;
  }
}

.logo_no {
  stroke: $falseColor;
}

.logo_yes {
  stroke: $trueColor;
}

.table__diagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 700px) {
    max-width: 200px;
  }
  @media (max-width: 500px) {
    max-width: 150px;
  }

  &_title {
    font-family: $fontFamilyOne;
    font-size: 1.2rem;
    text-align: center;
    & span {
      background-color: $trueColor;
    }
    @media (max-width: 500px) {
      font-size: 0.6rem;
    }
  }
}

.notate {
  width: 80%;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;

  @media (max-width: 800px) {
    font-size: 2.5rem;
  }
  @media (max-width: 500px) {
    font-size: 2rem;
  }
}
