@import "../../../styles/variables.scss";
@import "../../../styles/App.scss";

.header {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;

    margin-left: 50px;
    display: flex;
    gap: 10px;

    &__text {
      h1 {
        margin: 0;
        padding: 0;

        font-family: $fontFamilyOne;
        font-weight: bold;
        font-size: 42px;
        color: #99b98a;
      }
    }
  }
}

.button__login button {
  width: 60px;
  height: 60px;
  margin-right: 50px;
  background-color: #FFFFFF;
  color: $baseColor;
  border-radius: 50%;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  & button:hover {
    background-color: $bgColorHover;
  }
}

.button__BurgerMenu {
  width: 60px;
  height: 60px;
  fill: #99b98a;

  &:hover {
    fill: #65a149;
  }
}

@media (max-width: 450px) {
  h1 {
    display: none;
  }
}