@import "../../../styles/variables.scss";
@import "../../../styles/App.scss";

.header {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgba($color: $baseColor, $alpha: 0.3);

  &__wrapper {
    display: flex;
    align-items: center;
    margin-left: 50px;
    display: flex;
    gap: 10px;

    &__text {
      h1 {
        margin: 0;
        padding: 0;
        font-family: $fontFamilyOne;
        font-weight: bold;
        font-size: 42px;
        color: $trueColor;
      }
    }
  }
}

.button__login {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 50px;
  background-color: $trueColor;
  border: none;
  border-radius: 50%;
  color: $playerColor;
  font-family: $fontFamilyOne;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 5px $bgColor;
  transition: 0.3s;
  &:hover {
    background-color: $trueColorHover;
  }
  &_yes,
  &_hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 30px;
    transition: 0.3s;
  }
  &:hover &_yes {
    display: none;
  }
  &_hover {
    display: none;
    font-size: 16px;
    transition: 0.3s;
  }
  &:hover &_hover {
    display: block;
  }
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $baseColor;
  }
}

.button__BurgerMenu {
  width: 60px;
  height: 60px;
  fill: $trueColor;
  transition: 0.3s;
  &:hover {
    fill: $trueColorHover;
  }
}

@media (max-width: 450px) {
  h1 {
    display: none;
  }
}
