@import "../../../styles/variables.scss";

.cards__wrapper {
  
  &_img {
    display: flex;
    max-width: 100%;
    height: auto;
  }

  &_title {
    height: 30px;
    font-family: $fontFamilyOne;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
  }

  &_description {
    max-width: 378px;
    font-family: $fontFamilyOne;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: $baseColor;
  }
}

