.button__login {
  width: 60px;
  height: 60px;
  margin-right: 50px;

  background-color: #FFFFFF;  
  color: #4640BE;
  border-radius: 50%;
  cursor: pointer;
  
  &:hover {
    background-color: #DBD9FF;    
  }
}