@import "../../../styles/variables.scss";

.statistic {
  &__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-family: $fontFamilyOne;
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__button {
    flex: 1 0 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: $fontFamilyOne;
    font-size: 1.2rem;
    color: #000;
    background-color: $subBaseColor;
    box-shadow: 0 0 5px #000;
    @media (max-width: 800px) {
      font-size: 1rem;
      padding: 30px;
    }
    &:disabled {
      background-color: grey;
      color: #fff;
      box-shadow: 0 0 5px #fff;
    }
  }

  &__diagrams {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__diagram {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 800px) {
      max-width: 500px;
    }
    &_title {
      font-family: $fontFamilyOne;
      font-size: 1.2rem;
      text-align: center;
      & span {
        background-color: $trueColor;
      }
    }
  }
  &__notate {
    font-family: $fontFamilyOne;
    font-size: 3rem;
    text-align: center;
    color: #e38627;
    @media (max-width: 800px) {
      font-size: 2rem;
    }
  }
}
