$fontFamilyOne: "Balsamiq Sans", sans-serif;
$baseColor: #6d66ff;
$subBaseColor: #ffdc98;
$bgColor: #1e1e1e;
$bgColorHover: #dbd9ff;
$trueColor: #ffffff;
$trueColorHover: #99b98a;
$falseColor: #f05c5c;
$falseColorHover: #fb8484;