$baseColor: #6d66ff;
$subBaseColor: #ffdc98;
$fontFamilyOne: "Balsamiq Sans", sans-serif;
$bgColor: #1e1e1e;
$bgColorHover: #dbd9ff;
$trueColor: #91cb39;
$trueColorHover: #a3e246;
$falseColor: #f05c5c;
$falseColorHover: #fb8484;
