@import "../../../styles/variables.scss";

.card {
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;  
  align-items: stretch;
  font-family: $fontFamilyOne;
  background-color: $subBaseColor;
  border-radius: 40px;
  box-shadow: 0px 0px 3px #000;
  overflow: hidden;

  &__block_image {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: 0px 0px 3px #000;
  }

  &__image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  &__block_text {
    padding: 15px;
  }

  &__block_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 10px 0;
    gap: 10px;
  }

  &__container_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  &__subblock {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    fill: #ffffff36;
  }

  &__audioPlayer {
    height: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    &_big {
      height: 65px;
      fill: rgb(255 255 255);
    }
  }

  &__icon,
  &__icon_active {
    width: 25px;
    height: 25px;
    fill: $trueColor;
    transition: 0.3s;
    &:hover {
      fill: $trueColorHover;
    }
    &_active {
      fill: $trueColor;
      &:hover {
        fill: $trueColorHover;
      }
    }
  }
}

.card__container_section_one {
  display: flex;
}

.card__container_section_two {
  display: flex;
  gap: 10px;
}

// .card__text {
// align-items: center;
// }

// @media (max-width: 1200px) {
//   .card {
//     width: 32%;
//   }
// }