@import "../../../styles/variables.scss";
@import "../../../styles/App.scss";



.mainSection {
  display: flex;
  margin-top: -68px;
  background: url(../../../assets/img/background_mainPage.png) center (center/auto) no-repeat;
  font-weight: bold;

  &__hero {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: start;
    font-family: $fontFamilyOne;
    font-size: 48px;
    line-height: 72px;

    &__heading {
      padding-left: 50px;
      max-width: 628px;
      color: #FFFFFF;

      &_color {
        color: $subBaseColor;
      }
    }

    &__img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1010px) {
  .mainSection__hero__heading {
    font-size: 42px;
    line-height: 60px;
  }
}

@media (max-width: 900px) {
  .mainSection__hero__heading {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (max-width: 790px) {
  .mainSection__hero__heading {
    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: 740px) {
  .mainSection {
    overflow: hidden;
  }

  .mainSection__hero {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .mainSection__hero__heading {
    padding-left: 0;
  }
}

@media (max-width: 360px) {
  .mainSection__hero {
    padding-top: 35px;
  }
}