@import "../../../styles/variables.scss";

.featuresSection {
  height: 786px; 
  background-color: #FFFFFF;

  &__title {
    padding-top: 10px;
    font-family: $fontFamilyOne;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;

    color: $baseColor;  
  }
  &__wrapper {
    margin: 0 auto;
    padding-top: 10px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }
}
