@import "../../../styles/variables.scss";

.form_container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  text-align: center;
  padding: 5%;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  margin: 8px 0;
  font-size: 18px;
  border: 1px solid $subBaseColor;
  border-radius: 10px;
}

.button {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  font-family: $fontFamilyOne;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background-color: $baseColor;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: $bgColorHover;
}

.no_account {
  text-align: center;
  color: $bgColor;
}

.error {
  color: $falseColor;
}